In [1]:
import pandas
import numpy
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
ad = pd.read_excel('data/AD_TYPES_ALL_100.xlsx')

/opt/anaconda3/envs/DataScience/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
ad.describe(include='O')

,Name,Gender,MON 0-8h,MON 8-16h,MON 16-24h,TUE 0-8h,TUE 8-16h,TUE 16-24h,WED 0-8h,WED 8-16h,...,THU 16-24h,FRI 0-8h,FRI 8-16h,FRI 16-24h,SAT 0-8h,SAT 8-16h,SAT 16-24h,SUN 0-8h,SUN 8-16h,SUN 16-24h
count,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,100
unique,87,2,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
top,AT,Male,Built-up,Outskirts,Outskirts,Outskirts,Outskirts,Built-up,Built-up,Built-up,...,Outskirts,Outskirts,City center,Built-up,Built-up,Outskirts,Outskirts,Outskirts,Outskirts,Outskirts
freq,3,57,52,52,36,49,64,60,48,52,...,70,73,46,73,43,48,61,51,54,65