In [6]:
import pandas
import numpy
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
demand = pd.read_excel('data/DEMAND.xlsx', sheet_name='Demands')

/opt/anaconda3/envs/DataScience/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [8]:
demand.sum(numeric_only=True)

ID                                               69024.00
Weekly income                                     6797.00
Preferred quality                                   43.21
Big Bowls_Kuracie s ryžovými rezancami (4051)     2115.00
Big Bowls_Pho Bo (4052)                            262.00
Černé perly_Svíčková se šesti (4055)                 0.00
AV Gastro_Asain low (4056)                           0.00
AV Gastro_Czech low (4057)                           0.00
AV Gastro_Asian moderate (4058)                      0.00
AV Gastro_Czech moderate (4059)                      0.00
AV Gastro_Asian excellent (4060)                     0.00
AV Gastro_Italian low (4061)                         0.00
Černé perly_Rizzoto (4062)                           0.00
Černé perly_Jarní závitky (4065)                   189.00
AV Gastro_Italian moderate (4066)                    0.00
AV Gastro_Czech excellent (4067)                     0.00
The Sour Place_Czech food (4068)                    27.00
AV Gastro_Italian excellent (4069)                   0.00
The Sour Place_Czech food 2 (4070)                  88.00
Černé perly_Vepřo knedlo (4071)                     45.00
Černé perly_Extra pizza (4072)                     236.00
The Sour Place_Asian food (4073)                     0.00
Černé perly_Kung pao (4074)                          0.00
Želvy z Wallstreet_Produkt 1 (4075)                  0.00
Big Bowls_Pata syr (4076)                            0.00
Želvy z Wallstreet_El produtto uno (4077)            0.00
dtype: float64

In [9]:
demand2 = pd.read_excel('data/DEMAND.xlsx', sheet_name='Product demands - unpivoted')

/opt/anaconda3/envs/DataScience/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [10]:
demand2.groupby('Team').describe(include=['object'])

                Name                 Category                             \
               count unique top freq    count unique            top freq
Team
Big Bowls         39     35  VV    2       39      1  Asian cuisine   39
The Sour Place     2      2  OK    1        2      1  Czech cuisine    2
Černé perly        9      9  CB    1        9      3  Asian cuisine    5

               Product name
                      count unique                           top freq
Team
Big Bowls                39      2  Kuracie s ryžovými rezancami   34
The Sour Place            2      2                    Czech food    1
Černé perly               9      3                 Jarní závitky    5