In [1]:
# Data Science
import numpy as np
import pandas as pd

# Visual
import matplotlib.pyplot as plt
import seaborn as sns

# plotly standard imports
from chart_studio import plotly as py
import plotly.graph_objs as go
from plotly.offline import iplot
import plotly.express as px
# import plotly.io as pio

# Cufflinks wrapper on plotly
import cufflinks as cf
cf.go_offline()
# Setup Global Theme
cf.set_config_file(world_readable=True, theme='space', offline=True)

# Input Cell

In [2]:
unpivot_origin = pd.read_excel('data/all.xlsx', sheet_name='Location - unpivot')
demography_origin = pd.read_excel('data/all.xlsx')
demography = demography_origin
unpivot = unpivot_origin

In [3]:
demography.drop_duplicates('ID', inplace=True)
demo_to_merge = demography[['ID','Weekly income', 'Preferred quality', 'Favourite ad type', 'Favourite category']]
after_merge = unpivot.merge(demo_to_merge, left_on='ID', right_on='ID', how='left').dropna()

## Stratification by Income

In [4]:
def income_stratification(x):
    if x <= 50:
        return 'low'
    elif 50 < x <= 150:
        return 'medium'
    return 'high'
after_merge['Stratification by income'] = np.vectorize(income_stratification)(after_merge['Weekly income'])

### Medium

In [5]:
medium_asian = after_merge[(after_merge['Stratification by income']=='medium')
                           & (after_merge['Favourite category'] == 'Asian cuisine')]

medium_it = after_merge[(after_merge['Stratification by income']=='medium')
                           & (after_merge['Favourite category'] == 'Italian cuisine')]

#### Kolik lidi ze skupiny Asian+Medium

In [19]:
medium_asian.groupby(['Location', 'Day', 'Time']).size().unstack().reindex(['0-8h', '8-16h', '16-24h'], axis=1).style.background_gradient()